<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Actualización de Datos</title>
  <link rel="stylesheet" href="/css/actualizacion.css">
</head>
<body>

  <header class="top-bar">
    <div></div>
    <div class="logo-container">
  <img src="/img/LogoGEM.png" alt="Gobierno" class="logo">
    </div>
</header>

  <h1 class="titulo">Actualización de Datos</h1>
  <form action="/buscar" method="get" class="form-busqueda">
    <label for="claveSp">Buscar por CLAVE SP:</label>
    <input type="text" id="claveSp" name="claveSp" placeholder="998619147"
    th:value="${param.claveSp}">
    <button type="submit">Buscar</button>
  </form>

<main class="main-content">
  <table th:if="${empleado != null}">
    <thead>
    <tr>
      <th>CLAVE SP</th>
      <th>NOMBRE</th>
      <th>RFC</th>
      <th>CURP</th>
      <th>ISSEMYM</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${empleado.claveSp}">CLAVE</td>
    <td th:text="${empleado.apellidoPaterno}">NOMBRE</td>
    <td th:text="${empleado.rfc}">RFC</td>
      <td th:text="${empleado.curp}">CURP</td>
      <td th:text="${empleado.issemym}">ISSEMYM</td>

    </tr>
    </tbody>
  </table>
  <div class="botones" th:if="${empleado != null}">
    <a href="/menu" class="btn-volver">Regresar al menú</a>
    <a th:href="@{/editar(claveSp=${empleado.claveSp})}" class="btn-editar">EDITAR DATOS</a>
  </div>
</main>

<footer>
  ©2025 - Subdirección de desarrollo Tecnológico
</footer>
</body>
</html>