<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Credencialización</title>
  <link rel="stylesheet" href="/css/credencializacion.css">
</head>
<body>

<header class="encabezado">
  <div></div>
  <div class="logos-derecha">
  <img src="/img/LogoGEM.png" alt="Logo Gobierno" class="logo">
  </div>
</header>

  <h1 class="titulo">CREDENCIALIZACIÓN</h1>

<main class="contenedor">
  <div class="foto">
    <img src="/img/usuario.png" alt="Foto" class="foto-persona">
  </div>

  <div class="datos">
    <label class="etiqueta">Clave SP</label>
    <input type="text" value="998619208" readonly>

    <label class="etiqueta">Nombre</label>
    <input type="text" value="TORRES LARA GERARDO" readonly>

    <button class="btn-generar">Generar Credencial</button>
  </div>
</main>

<div class="acciones">
  <a href="/menu" class="btn-dorado">Regresar al menú</a>
  <a href="/historial" class="btn-dorado">Historial de credenciales impresas</a>
</div>

<footer class="footer">
  ©2025 - Subdirección de desarrollo Tecnológico
</footer>

</body>
</html>
