<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú Principal - G2G</title>
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
<div class="header-logos">
    <img src="/img/LogoGEM.png"  class="logo-edomex">
</div>

<header class="menu-header">
    <h1>“PORTAL DE ACTUALIZACIONES DE RECIBO G2G”</h1>
    <p class="selector">Seleccione la <span class="resaltar">opción</span> del trámite que deseas:</p>
</header>

<main class="menu-main">
    <div class="menu-grid">
        <a href="/actualizacion" class="menu-card">
            <img src="/img/ActualizacionDatos.JPG" alt="">
            <span>Actualización de datos</span>
        </a>
        <a href="/homologacion" class="menu-card">
            <img src="/img/Homologación.png" alt="">
            <span>Homologación</span>
        </a>
        <a href="/busquedas" class="menu-card">
            <img src="/img/Busquedas.JPG" alt="">
            <span>Búsquedas</span>
        </a>
        <a href="/credencializacion" class="menu-card">
            <img src="/img/Credencializacion.jpg" alt="">
            <span>Credencialización</span>
        </a>
        <a href="/chequeos" class="menu-card">
            <img src="/img/ChequeosProcesados.jpg" alt="">
            <span>Chequeos procesados</span>
        </a>
    </div>

    <div class="cerrar">
        <a href="/logout" class="cerrar-sesion">Cerrar sesión</a>
    </div>
</main>

<footer>
    ©2025 - Subdirección de desarrollo Tecnológico
</footer>
</body>
</html>

